table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #000;
  text-align: center;
}

img {
  width: 30px;
}

.clickable {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.clickable:active {
  color: black;
}